// - Dark Blue (intro and email sign up background)
$intro: hsl(217, 28%, 15%);
$Email: hsl(217, 28%, 15%);
// - Dark Blue (main background)
$mainBackground: hsl(218, 28%, 13%);
// - Dark Blue (footer background)
$footer: hsl(216, 53%, 9%);
// - Dark Blue (testimonials background)
$testimonial: hsl(219, 30%, 18%);
// Button on hover & See how call-to-action
$hover: hsl(176, 68%, 64%);
// Button background color
$button: hsl(198, 60%, 50%);
// Error message Light Red
$error: hsl(0, 100%, 63%);
// Head tag font
$header: "Raleway", sans-serif;
// Body font
$body: "Open Sans", sans-serif;
// Text COlor
$textColor: hsl(0, 0%, 100%);

body {
  height: 100vh;
  background-color: $intro;
}