@import 'config';
@import 'utilities';
@import 'introHeader';
@import 'footer';

.main {
  background-color: $mainBackground;
  margin-top: 12rem;

  & .fileSection {
    width: 100%;

    & .fileHolder {
      padding: 0 0 6rem 0;
      align-items: center;
      z-index: 1;
      position: relative;
      top: -3rem;

      & .fileWrap {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        & .fileInput {
          padding: 1.8rem 0;
          width: 300px;
          text-align: center;

          & img {
            width: 60px;
          }

          & h3 {
            padding: 1.4em 0 0.6em 0;
            font-size: 16px;
            color: $textColor;
            font-family: $body;
          }

          & p {
            color: $textColor;
            font-family: $body;
            font-size: 14px;
            word-spacing: 1.5px;
          }
        }
      }
    }
  }

  & .productive {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem 4rem 4rem;

    & .productiveImg {
      width: 50%;
    }

    .productiveText {
      width: 50%;
      padding: 1em 3em;

      & h2 {
        padding: 0 0 20px 0;
        font-size: 32px;
        font-weight: 700;
        line-height: 2.5rem;
        color: $textColor;
        font-family: $header;
      }

      .productiveTextPara {
        & p {
          font-family: $body;
          font-size: 14px;
          padding: 5px 0 12px 0;
          color: $textColor;
        }

        .seeHow button {
          text-decoration: none;
          display: flex;
          align-items: center;
          background: transparent;
          color: $hover;
          font-family: $body;
          font-size: 14px;
          border: none;
          padding: 2px 0;
          border-bottom: 2px solid $hover;

          & img {
            padding-left: 5px;
          }

          &:hover {
            color: hsl(0, 0%, 100%);
            cursor: pointer;
            border-bottom: 2px solid hsl(0, 0%, 100%);
            fill: #fff;
          }
        }
      }
    }
  }

  & .testimonial {
    padding: 5rem 5rem;

    .quotes {
      position: relative;
      left: 1.3rem;
      top: 1rem;
    }

    & .container {
      display: flex;
      justify-content: space-evenly;

      & .testimonialItem {
        z-index: 2;

        & .testimonialItemWrap {
          background: $testimonial;
          border-radius: 4px;
          width: 350px;
          z-index: 1;

          & .testimonialItemText {
            padding: 30px 20px 10px 20px;

            & p {
              font-size: 14px;
              line-height: 20px;
              margin-bottom: 10px;
              word-spacing: 2px;
              font-family: $body;
              color: $textColor;
            }
          }

          & .testimonialItemImg {
            display: inline-flex;
            align-items: center;
            padding: 0 20px 20px 20px;

            & img {
              width: 30px;
              border-radius: 50%;
            }

            & h4 {
              font-size: 12px;
              font-weight: 600;
              padding-left: 10px;
              color: $textColor;
              font-family: $body;
            }

            & p {
              font-size: 12px;
              font-weight: 400;
              padding-left: 10px;
              color: $textColor;
              font-family: $body;
            }
          }
        }
      }
    }
  }

  .earlyAccess {
    background: $Email;
    text-align: center;
    width: 60%;
    margin: auto;
    justify-content: center;
    padding: 2rem 3rem;
    border-radius: 10px;
    height: 250px;
    z-index: 2;
    position: relative;
    top: 5rem;

    & .accessText {
      & h2 {
        padding: 1rem 0;
        font-family: $header;
        color: $textColor;
      }

      & p {
        font-size: 14px;
        word-spacing: 2px;
        line-height: 20px;
        color: $textColor;
        font-family: $body;
      }
    }

    & .accessInput {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      & input[type=email] {
        font-size: 14px;
        margin-top: 28px;
        padding: 1rem 12rem 1rem 1rem;
        outline: none;
        border-style: none;
        background-color: #FFF;
        border-radius: 50px;
      }

      & button {
        font-weight: 400;
        margin-top: 28px;
        padding: 1rem 2.5rem;
        color: $textColor;
        outline: none;
        border-style: none;
        background-color: $button;
        border-radius: 50px;
        cursor: pointer;

        &:hover {
          background-color: hsl(176, 68%, 64%);
          outline: none;
          border-style: none;
        }
      }
    }
  }
}



li {
  color: $textColor;
  list-style: none;
  font-family: $body;
  line-height: 30px;
  font-size: 14px;

  &:hover {
    cursor: pointer;
    font-weight: bold;
  }

  & a {
    color: $textColor;
    text-decoration: none;
  }
}

